# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: Build .NET lib

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  semver:
    runs-on: ubuntu-latest
    outputs:
      next-version: ${{ steps.next-ver.outputs.VERSION }}
    
    steps:
    - uses: actions/checkout@v4
      
    - uses: actions-ecosystem/action-get-latest-tag@v1
      id: get-latest-tag
      with:
        semver_only: true

    - uses: actions-ecosystem/action-bump-semver@v1
      id: bump-semver
      with:
        current_version: ${{ steps.get-latest-tag.outputs.tag }}
        level: patch
        
    - name: Prepare next version
      id: next-ver
      run: |
        TAG=${{ steps.bump-semver.outputs.new_version }}
        echo Latest tag: $TAG
        VERSION=${TAG#v}
        echo Next version: $VERSION        
        echo "VERSION=$VERSION" >> $GITHUB_OUTPUT
    
  build:
    name: Build and test
    needs: semver
    runs-on: ${{ matrix.os }}
    
    defaults:
      run:
        shell: bash

    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest, ubuntu-latest]
        configuration: [Debug, Release]
        include:
          - os: windows-latest
            configuration: Debug
            coverage: true

    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: |
          2.0.x
          6.0.x
          8.0.x

    - name: Display dotnet version
      run: dotnet --info

    - name: Set version in all AssemblyInfo.cs files
      uses: secondbounce/assemblyinfo-update@v2
      with:
        version: ${{ needs.semver.outputs.next-version }}

    - name: Cache NuGet packages
      uses: actions/cache@v4
      with:
        path: ~/packages
        key: ${{ runner.os }}-nuget-${{ hashFiles('**/packages.lock.json', '**/*.csproj') }} # Unique key for the cache
        restore-keys: |
          ${{ runner.os }}-nuget-
    
    - name: Install coverlet
      run: |
           dotnet add package coverlet.msbuild --version 6.0.4 &&
           dotnet add package coverlet.collector --version 6.0.4
      working-directory: TeamTools.SSDT.ProjectValidatorTests
          
    - name: Restore dependencies
      run: dotnet restore --p:ContinuousIntegrationBuild=true
      
    - name: Build
      id: build
      run: >
        dotnet build --no-restore
        --configuration ${{ matrix.configuration }}
        --p:ContinuousIntegrationBuild=true
        --p:GenerateAssemblyInfo=false

    - name: Test
      if: ${{ !matrix.coverage }}
      run: >
        dotnet test --no-build --verbosity normal
        --configuration ${{ matrix.configuration }}
        --logger "trx;LogFileName=${{ github.workspace }}/TestResults/test-results.trx" 

    - name: Test with coverage
      if: ${{ matrix.coverage }}
      run: >
        dotnet test --no-build --verbosity normal
        -p:CollectCoverage=true -p:CoverletOutput="${{ github.workspace }}/TestResults/" -p:CoverletOutputFormat=opencover /p:ExcludeByFile="**/TeamTools.TSQL.Common/**/*.cs"
        --configuration ${{ matrix.configuration }}
        --logger "trx;LogFileName=${{ github.workspace }}/TestResults/test-results.trx" 

    - name: Upload test artifacts
      uses: actions/upload-artifact@v4
      if: ${{ matrix.coverage }}
      with:
        name: test-results
        path: |
          TestResults
          TeamTools.SSDT.ProjectValidatorTests/TestResults
    
    - name: Test Report
      uses: dorny/test-reporter@v2
      if: ${{ !cancelled() }}       # run this step even if previous step failed
      with:
        name: NUnit testing ${{ matrix.configuration }} build on ${{ matrix.os }}
        path: 'TeamTools.SSDT.ProjectValidatorTests/TestResults/test-results.trx,**/TestResults/*.trx,*.trx'
        reporter: dotnet-trx

    - name: Upload build artifacts 2.0
      uses: actions/upload-artifact@v4
      if: ${{ matrix.configuration == 'Release' && matrix.os == 'windows-latest' && steps.build.conclusion == 'success' }}
      with:
        name: TeamTools.SSDT.ProjectValidator-${{ needs.semver.outputs.next-version }}-${{ matrix.configuration }}-netstandard2.0
        path: TeamTools.SSDT.ProjectValidator/bin/${{ matrix.configuration }}/netstandard2.0

    - name: Upload build artifacts 6.0
      uses: actions/upload-artifact@v4
      if: ${{ matrix.configuration == 'Release' && matrix.os == 'windows-latest' && steps.build.conclusion == 'success' }}
      with:
        name: TeamTools.SSDT.ProjectValidator-${{ needs.semver.outputs.next-version }}-${{ matrix.configuration }}-net6.0
        path: TeamTools.SSDT.ProjectValidator/bin/${{ matrix.configuration }}/net6.0

    - name: Upload build artifacts 8.0
      uses: actions/upload-artifact@v4
      if: ${{ matrix.configuration == 'Release' && matrix.os == 'windows-latest' && steps.build.conclusion == 'success' }}
      with:
        name: TeamTools.SSDT.ProjectValidator-${{ needs.semver.outputs.next-version }}-${{ matrix.configuration }}-net8.0
        path: TeamTools.SSDT.ProjectValidator/bin/${{ matrix.configuration }}/net8.0

  report:
    needs: build
    if: always()
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: Download test results
      uses: actions/download-artifact@v4
      with:
        name: test-results
  
    - name: Extract coverage info
      uses: simon-k/dotnet-code-coverage-badge@v1.0.0
      id: create_coverage_badge
      if: ${{ !cancelled() && hashFiles('TestResults/coverage.opencover.xml') != '' }}
      with:
        label: Unit Test Coverage
        color: brightgreen
        path: TestResults/coverage.opencover.xml
        gist-filename: TeamTools.Linter.SSDT.code-coverage.json
        gist-id: ${{ vars.GIST_COVERAGE_ID }}
        gist-auth-token: ${{ secrets.GIST_AUTH_TOKEN }}
        
    - name: Create Coverage Badge
      uses: schneegans/dynamic-badges-action@v1.7.0
      if: ${{ !cancelled() && hashFiles('TestResults/coverage.opencover.xml') != '' && steps.create_coverage_badge.outputs.percentage != '' }} 
      with:
        auth: ${{ secrets.GIST_AUTH_TOKEN }}
        gistID: ${{ vars.GIST_COVERAGE_ID }}
        filename: teamtools-linter-ssdt-code-coverage.svg
        label: Coverage
        message: ${{ steps.create_coverage_badge.outputs.percentage }}%
        valColorRange: ${{ steps.create_coverage_badge.outputs.percentage }}
        maxColorRange: 100
        minColorRange: 0
        
    - name: Create Rules Count Badge
      uses: schneegans/dynamic-badges-action@v1.7.0
      if: ${{ !cancelled() }}       # run this step even if previous step failed
      with:
        auth: ${{ secrets.GIST_AUTH_TOKEN }}
        gistID: ${{ vars.GIST_COVERAGE_ID }}
        filename: teamtools-linter-ssdt-rules-count.svg
        label: Code analysis rules
        message: ${{ vars.CODE_ANALYSIS_RULES_COUNT }}
        color: red

    - name: Print code coverage
      if: steps.create_coverage_badge.outcome == 'success'
      run: echo "Code coverage percentage ${{steps.create_coverage_badge.outputs.percentage}}%"
